@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Recursive", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black-color: #1e1c1c;
    --white-color: #f7f7f7;
}

.bgImg {
    min-height: 100vh;
    width: 100%;
    background: url(/Docs/Assets/hero.jpg) center;
    background-size: cover;
    background-attachment: fixed;
}

.heroSection {
    min-height: calc(85vh - 70px);
}

.popup-button {
    display: block;
    text-align: center;
    text-decoration: none;
    background-size: 200% auto;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background-image: linear-gradient(to right, #BB86FC 0%, #FF80AB 50%, #BB86FC 100%);
    transition: 0.5s;

    &:hover {
        background-position: right center;
    }
}


.shape {
    animation: blob 7s infinite;
}

/* @keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -10px) scale(1.05);
    }

    66% {
        transform: translate(-10px, 10px) scale(0.9);
    }

    100% {
        transform: tranlate(0px, 0px) scale(1);
    }
} */
@keyframes blob {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.05);
    }

    66% {
        transform: scale(0.9);
    }

    100% {
        transform: tranlate(0px, 0px) scale(1);
    }
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}

.slidein {
    animation: slideAnimation 1s ease var(--slidein-delay, 0) forwards;
}

@keyframes slideAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}


.cursor {
    display: inline-block;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#menuToggle{
    scale: 0.60;
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #ffffff;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Tornado Animation *****/

.bar--top {
    bottom: calc(50% + 11px + 4px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s) * .6;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity, transform;
    transition-delay: calc(0s + 0.35s * .3);
}

.bar--bottom {
    top: calc(50% + 11px + 4px/ 2);
    transition-property: top, transform;
    transition-delay: 0s;
}

#checkbox:checked+.toggle .bar--top {
    transform: rotate(-135deg);
    transition-delay: 0s;
    bottom: calc(50% - 4px/ 2);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transform: rotate(-135deg);
    transition-delay: calc(0s + 0.35s * .3);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-225deg);
    transition-delay: calc(0s + 0.35s * .6);
}